*, *::before,*::after{  box-sizing: border-box; 
font-family: 'Inter', sans-serif;}

html, body {
    margin: 0;
    padding: 0;}

body{
    max-height: 100vh;
    max-width: 100vw;}

h1{font-size: 1.5rem;}
form,.colorName{font-size: 0.75rem;}

.container,form{display: flex;}

.container{
    flex-direction: column;
    margin: 0 auto;
    padding: 1.25rem 0rem 0rem 0rem;
    width:100vw;
    text-align: center;}

@media(min-width:56rem){.container{max-width: 44rem;}}

form{
    height: 3rem;
    justify-content:space-between;
    padding: 0  1rem;
    width: 100%;
    margin: auto auto 0 auto;    }

button{
    background: white;
    font-weight: 500;
    padding: 1rem 1.5rem;    }
    
button,select{
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.25rem;}

select{ 
    text-indent: 1rem;
    font-weight: 400;
    width: 47.5%; }

select,input,button{
    height: 100%;
    margin: auto;}
    
input{
    width:15%;
    padding: 0;
    border: 0.25rem solid #D1D5DB;}
    
.grid{
    display: grid;
    grid-template-rows: 20rem;
    grid-row-gap: 0.5rem;
    margin-top: 1rem;}
    
.gridItem{grid-row: 1;}
.gridItem,.colorName,button{ cursor: pointer;}
.colorName{
    padding: 0.125rem 0rem 0rem 0rem;
    font-weight: 700;
    color:#374151;}
    
#copy{  grid-column: 1/-1;}
