*, *::before,*::after{  box-sizing: border-box; 
font-family: 'Inter', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;}

h1{font-size: 1.5rem;}

body{
    display: flex;

    height: 100vh;
    width: 100vw;
}
.container{

    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: center;
    margin: 0 auto;
    padding: 1.5rem 0rem 0rem 0rem;
    width: fit-content;
    min-width: 28.5rem;
    height: fit-content;
    max-height: 90vh;
    text-align: center;
}
form{display: flex;
    padding: 0.25rem;
    padding-bottom: 0;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    font-size: 0.75rem;
    }

button{
    padding: 0.5rem 0.75rem;
    margin-left: 1rem;
    background: white;
    font-weight: 500;
    cursor: pointer;
    }
    
button,select{
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.25rem;
}


input{
    height: 1.9rem;
    width: 3.4rem;
    padding: 0;
    margin: auto;
    margin-left: 0;}
    
select{
    text-indent: 1rem;
    font-weight: 400;
    width: 13.5rem;
 }

.grid{

    display: grid;
    grid-row-gap: 1rem;
    margin-top: 1rem;
    width: 100%;

    }
    
.gridItem{  
    grid-row: 1;
  height: 20rem;
  max-height: 45vh;
   cursor: pointer;  
   }
   
.colorName{
    padding: 0.5rem 0rem 0rem 0rem;

    font-weight: 600;
    font-size: 0.75rem;
    color:#374151;
    cursor: pointer;}
    
#copy{  grid-column: 1/-1;}
